header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    background-color: #a7d3ff;
    top : 0;
    left:0;
    color: whitesmoke;
    font-size: 2vw;
    font-weight: bolder;
    width: 100%;
    height: 60px;                 
    margin-bottom: 10px;
    border: 1px solid #ffffff;
}
