
<form (submit)="addnames()">
    <label for="name">Name:<br>
    <input type="text" name="name" [(ngModel)]="name"><br><br></label>
    <input type="submit" value="Submit">
</form>
<p>{{datas.names}}</p>
<input type="button" value="Show Names from Service" (click)="show=true"/>
<p>Your entered names is:</p>
@if (show) {
    <ul>
        <p>{{datas.get()}}</p>
    </ul>
}

<p>List of names:</p>
@if(names.length>0){
    <ul>
        @for (name of names; track $index) {
            <li>{{name}}</li>
        }
    </ul>
}
@else {
    <p>No names.</p>
}
<input type="button" value="Show action" (click)="Show=true"/> 
<p>I saw a man
<ng-component *ngIf="Show">and killed him</ng-component>
and ran away.</p>

<div><label for="colors"><h2>Pick a highlight color</h2>
  <input type="radio" name="colors" (click)="color='lightgreen'" />Green
  <input type="radio" name="colors" (click)="color='yellow'" />Yellow
  <input type="radio" name="colors" (click)="color='cyan'" />Cyan</label>
</div>
<p [appHighlight]="color">Highlight me!</p>

<div >
    <a routerLink="nav">this is link to Nav</a>
</div>
<router-outlet></router-outlet>


<p>Api url: {{config.apiUrl}}<br>Version: {{config.version}}<br>Features: </p>